@font-face {
    font-family: Nike Bureau;
    src: url("./font.otf") format("opentype");
}

body, h1{
    margin: 0px;
    overflow: hidden;
}

.nike {
    font-family: Nike Bureau;
}

.large {
    font-size: 3em;
}
.x-large {
    font-size: 4em;
}


.Login {
 padding-top: 200px;
}
.logo {
    display: inline-block;
    height: 75px;
    width: 100px;
}
.nav-item {
    height: 75px;
}
.z-ind {
    z-index: 5;
}
.button {
    all: unset;
    color: white;
    margin-left: 15px;
}
.row {
    flex-direction: row;
    justify-content: space-between
}
.bb {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.b--black-10 {
    border-color: #423634;
}

.br-100 {
    border-radius: 100%;
}

.db {
    display: block;
}

.flex {
    display: flex;
}

.flex-auto {
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
}

.items-center {
    align-items: center;
}

.h2 {
    height: 2rem;
}

.lh-copy {
    line-height: 1.5;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in;
    font-size: 24px;
    font-family: Nike Bureau
}

.link:link, .link:visited {
    transition: color .15s ease-in;
}

.link:hover {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
}

.link:focus {
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
}

.list {
    list-style-type: none;
}

.w2 {
    width: 2rem;
}

.black-70 {
    color: rgba(0, 0, 0, .7);
}

.blue {
    color: #357edd;
}

.hover-dark-gray:focus {
   
    background: rgba(149, 187, 224, 0.47);
}
.hover-bg-black:focus, .hover-bg-black:hover {
    background: rgba(0, 0, 0, .5)
}
.hover-bg-blue:focus, .hover-bg-blue:hover {
    background: rgb(114,90,97);
    color: white;
}
.hover-bg-grayy:focus, .hover-bg-grayy:hover {
    background: rgba(52,63,82, 1);
    font-weight: lighter;
}

.pa3 {
    padding: 1rem;
}

.pl0 {
    padding-left: 0;
}

.pl3 {
    padding-left: 1rem;
}

.mt0 {
    margin-top: 0;
}

.f6 {
    font-size: .875rem;
}

.measure {
    max-width: 30em;
}

.center {
    margin-right: auto;
    margin-left: auto;
}
.dt {
    display: table;
}

.dtc {
    display: table-cell;
}

.dt--fixed {
    table-layout: fixed;
    width: 33%;
}


.pv4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.tc {
    text-align: center;
}

@media screen and (min-width: 30em) {
    .h3-ns {
        height: 4rem;
    }

    .w3-ns {
        width: 4rem;
    }
}

@media screen and (min-width: 60em) {
    .ph0-l {
        padding-left: 0;
        padding-right: 0;
    }
}
.card-title-center {
    margin: auto;
}
.container-center {
    width: 45%;
    margin: auto;
    border: 2px solid #423634;
    border-radius: 10px;
    background: rgba(255,255,255, .5);
}
.footer {
    position: absolute;
    bottom: 0px;
    padding-left: 50px;
    font-size: 12px;
    background: rgb(255, 255, 255);
    width: 100%;
    padding-top: 10px;
}
.backdrop {
    margin: 0px;
    background: url('../images/yoga.jpeg')  no-repeat center center fixed;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 50px;
}
.log-in-button {
    text-decoration: none;
    color: black;
    border: none;
}
.wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}
.f-wr {
    justify-content: space-between;
}
.f-r {
    padding-right: 50px;
}
.footer-a {
    all: unset;
    color: white;
    cursor: pointer;
    text-decoration: underline;
}
.main-right {
    overflow: auto;
    padding: 100px 0px 75px 0px;
    text-align: center;
    background: url('../images/bg.jpeg')  no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 75%;
}
.small-left {
    border-left: 3px solid #343F52;
    padding-top: 150px;
    width: 25%;
    height: 100vh;
    background-color: #D7DBBA;
}

.white-f {
    color:white;
    font-family: sans-serif;
    font-weight: lighter;
    letter-spacing: .03em;
    
}

.rosy {
    color: #343F52;
}
.rose {
    background-color: rgba(52,63,82, 1);
    box-shadow: 0px 4px 5px 3px rgba(0,0,0,0.75);
}
.bg-dim {
    background-color: rgba(114,90,97, .9);
    border: 1px solid #343F52;
    border-radius: 20px;
}
.bg-green {
    border-style: none;
    /* border: 1px solid #343F52; */
    margin: 10px;
    color: white;
    background-color: rgba(52,63,82, .7);
    border-radius: 8px;
}
.bg-whitee {
    background-color: rgba(225, 225, 225, .8);
    border-radius: 20px;
    box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.75); 
}
.padding {
    padding: 10px;
}
.flex-center {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.activity-input {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 38px;
    text-align: center;
}
.activity-input:focus {
    border: none;
    outline: none;
}
.button-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.fifty {
    width: 50%;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
}
.l-space {
    letter-spacing: .03em;
    font-size: 14px;
    padding: 7px;

}

.medium {
    font-size: 1.85em;
    font-weight: 200;
}
.big-b {
    height: 50px;
    font-size: 14px;
    font-family: sans-serif;
    text-transform: uppercase;
    padding: 8px;
    font-weight: lighter;
}

.le-space {
    letter-spacing: .03em;
}

.two-em {
    font-size: 2em;
}

.title {
    color: #D7DBBA;
    text-shadow: 6px 6px 4px rgba( 52,63,82,  1);
    letter-spacing: .05em;
    font-size: 86px;
}

.form-title {
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    padding: 15px;
}

.left {
    padding-left: 10px;
}

.top {
    margin-top: 20px;
}

.ent-wrapper {
    display: flex;
    flex-direction: row;
}

.main {
    overflow: auto;
    padding-top: 150px;
    padding-bottom: 50px;
    text-align: center;
    background: url('../images/watch.jpeg') no-repeat center bottom;
    -webkit-background-size: contain;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 65%;
}
.bg-br {
    background-color: rgba(212, 202, 206, .9);
    border-radius: 20px;
    -webkit-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.75);
    margin-bottom: 50px;
    padding: 20px; 
}
.small-sec {
    padding-top: 150px;
    padding-left: 50px;
    width: 35%;
    display: flex;
    flex-direction: column;
    background-color: rgba(212, 202, 206, 1);
    border-left: 3px solid rgba(52,63,82, 1);
}

.quant {
    width: 50%;
    font-weight: 400;
}

.ball {
    color: #B4453F;
}

.midnight {
    color: #0C223E;
}

.hover-br:hover {
    color: #452124;
    cursor: pointer
}


.ent-head {
    color: #B4453F;
    text-shadow: 6px 6px 4px rgba(69, 33, 36, 1) ;
    letter-spacing: .05em;
    font-size: 86px;
    margin-bottom: 30px;
}
.ent-title {
    font-size: large;
    color: #343F52;
}

.forty {
    width: 40em;
}

.title-medium {
    font-size: 1.45em;
    font-weight: 200; 
}

