@font-face {
    font-family: Nike Bureau;
    src: url("./font.otf") format("opentype");
}

body, h1{
    margin: 0px;
}

.nike {
    font-family: Nike Bureau;
}

.large {
    font-size: 3em;
}
.medium {
    font-size: 1.75em;
}

.Login {
 padding-top: 200px;
}
.logo {
    display: inline-block;
    height: 75px;
    width: 100px;
}
.nav-item {
    height: 75px;
}
.z-ind {
    z-index: 5;
}
.button {
    all: unset;
    color: white;
    margin-left: 15px;
}
.row {
    flex-direction: row;
    justify-content: space-between
}
.bb {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.b--black-10 {
    border-color: #423634;
}

.br-100 {
    border-radius: 100%;
}

.db {
    display: block;
}

.flex {
    display: flex;
}

.flex-auto {
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
}

.items-center {
    align-items: center;
}

.h2 {
    height: 2rem;
}

.lh-copy {
    line-height: 1.5;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in;
}

.link:link, .link:visited {
    transition: color .15s ease-in;
}

.link:hover {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
}

.link:focus {
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
}

.list {
    list-style-type: none;
}

.w2 {
    width: 2rem;
}

.black-70 {
    color: rgba(0, 0, 0, .7);
}

.blue {
    color: #357edd;
}

.hover-dark-gray:hover {

    background: rgba(208, 203, 208, 0.47);
}

.hover-dark-gray:focus {
   
    background: rgba(149, 187, 224, 0.47);
}
.hover-bg-black:focus, .hover-bg-black:hover {
    background: rgba(0, 0, 0, .5)
}
.hover-bg-blue:focus, .hover-bg-blue:hover {
    background: rgba(52,63,82, .7);
    color: white;
}

.pa3 {
    padding: 1rem;
}

.pl0 {
    padding-left: 0;
}

.pl3 {
    padding-left: 1rem;
}

.mt0 {
    margin-top: 0;
}

.f6 {
    font-size: .875rem;
}

.measure {
    max-width: 30em;
}

.center {
    margin-right: auto;
    margin-left: auto;
}
.dt {
    display: table;
}

.dtc {
    display: table-cell;
}

.dt--fixed {
    table-layout: fixed;
    width: 33%;
}


.pv4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.tc {
    text-align: center;
}

@media screen and (min-width: 30em) {
    .h3-ns {
        height: 4rem;
    }

    .w3-ns {
        width: 4rem;
    }
}

@media screen and (min-width: 60em) {
    .ph0-l {
        padding-left: 0;
        padding-right: 0;
    }
}
.card-title-center {
    margin: auto;
}
.container-center {
    width: 45%;
    margin: auto;
    border: 2px solid #423634;
    border-radius: 10px;
    background: rgba(255,255,255, .5);
}
.footer {
    padding-left: 50px;
    font-size: 12px;
    background: rgba(255, 255, 255, .9);
    width: 100%;
    padding-top: 10px;
}
.backdrop {
    margin: 0px;
    background: url('../images/yoga.jpeg')  no-repeat center center fixed;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 50px;
}
.log-in-button {
    text-decoration: none;
    color: black;
    border: none;
}
.wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}
.main-right {
    overflow: auto;
    padding-top: 100px;
    text-align: center;
    background: url('../images/bg.jpeg')  no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 70%;
}
.small-left {
    border-left: 3px solid #343F52;
    padding-top: 150px;
    width: 30%;
    height: 100vh;
    background-color: #D7DBBA;
}

.rosy {
    color: #343F52;
}
.bg-dim {
    background-color: rgba(114,90,97, .9);
    border: 1px solid #343F52;
    border-radius: 20px;
}
.bg-green {
    border-style: none;
    /* border: 1px solid #343F52; */
    margin: 10px;
    color: white;
    background-color: rgb(114,90,97);
    border-radius: 8px;
}
.bg-whitee {
    background-color: rgba(225, 225, 225, .8);
    /* border: 1px solid #343F52; */
    border-radius: 20px;
}
.padding {
    padding: 10px;
}
.flex-center {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
